.title {
  color: #2f4a3b;
  text-align: center;
  font-family: Lato;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5rem;
}
.our-therapy-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.our-therapy .swiper {
  height: calc(80vh - 100px);
}
.our-therapy-heading {
  color: #2f4a3b;
  text-align: center;
  font-family: Lato;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.our-therapy-slide {
  width: 388px !important;
}
.our-therapy-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
.our-therapy-swiper .swiper-slide {
  flex-shrink: 0;
  height: 450px !important;
  background-color: transparent !important;
}
.our-therapy-slide {
  height: calc(70vh - 100px);
  height: 500px !important;
}

@media screen and (max-width: 768px) {
  .our-therapy{
    margin: 3rem 0;
  }
  .title {
    color: #2f4a3b;
    text-align: center;
    font-family: Lato;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
  }
  .our-therapy-section {
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
  }

  .our-therapy-heading {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .our-therapy .swiper {
    height: 70vh;
  }

  .our-therapy-swiper .swiper-slide {
    height: 250px !important; 
    margin-right: 0 !important;
  }

  .our-therapy-slide {
    width: 280px !important; 
    height: 420px !important;
  }

  .our-therapy-swiper .swiper-wrapper {
    padding-bottom: 1rem;
  }
}
