.mainn {
  padding: 5rem;
}
.our-pricing {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.12rem;
  background-image: url("/images/pricing_bg.png");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.our-pricing-heading-text {
  color: #c9a438;
  text-align: center;
  font-family: Lato;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.our-pricing-content-heading {
  color: #fff;
  /* color: #c9a438; */
  font-family: Lato;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 1px solid #c9a438;
}
.our-pricing-content-subheading {
  color: #fff;
  font-family: Lato;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.our-pricing-content {
  display: flex;
  gap: 3.12rem;
}
.our-pricing-column1 {
  display: flex;
  flex-direction: column;
  gap: 2.19rem;
}
.our-pricing-column2 {
  display: flex;
  flex-direction: column;
  gap: 2.19rem;
  justify-content: center;
  align-items: center;
}
.our-pricing-column3 {
  display: flex;
  flex-direction: column;
  gap: 2.19rem;
  justify-content: center;
  align-items: center;
}
.our-pricing-sub-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-pricing-sub-content-text {
  color: #c9a438;
  font-family: Lato;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 53.75rem;
  text-align: center;
}



@media (max-width: 768px) {
  .mainn {
    padding: 2rem 1rem;
  }

  .our-pricing {
    padding: 2rem 1.5rem;
    gap: 2rem;
  }

  .our-pricing-heading-text {
    font-size: 2rem;
    height: 2.5rem;
  }
  .our-pricing-content{
    display: flex;
    gap: 2rem;
  }
  .our-pricing-column1,
  .our-pricing-column2,
  .our-pricing-column3 {
    align-items: flex-start;
    width: 100%;
  }

  .our-pricing-content-heading {
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  .our-pricing-content-subheading {
    font-size: 1.25rem;
    height: 2.5rem;
  }

  .our-pricing-sub-content-text {
    font-size: 1.125rem;
    width: 100%;
    text-align: center;
  }
}
